*{

    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;

}
.hero{
    width: 100%;
    height: 100vh;
    background: #f3f3f3;
    padding: 10px 3%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.hero h1{
    font-size: 75px;
    position: relative;
    z-index: 2;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #000;
    cursor: pointer;
    transition: transform 0.5s;

}

.hero h1:hover{
    -webkit-text-fill-color: #000;
    transform: translateY(-10px);

}
.img-box{
    position: absolute;
    top: 10;
    right: 100;
    height: 100%;
    width: 90%;
    background-image: url(images/utama.jpg);
    background-size: cover;
    background-position: center;
    transition: background-image 3s;

}
.hero h1:nth-child(1):hover ~ .img-box{
    background-image: url(images/nonas.png);

}
.hero h1:nth-child(2):hover ~ .img-box{
    background-image: url(images/ramb.png);

}
.hero h1:nth-child(3):hover ~ .img-box{
    background-image: url(images/jeruk.png);

}